* {
  box-sizing: border-box;
}

form {
    width: 100%;
    margin: 0;
    padding: 20px;
    box-shadow: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
}

.tabs {
  width: 100%;;
}

.tab {
  width: 100%;
}

table {
  width: 100%;
}

.tab-content {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.custom-id-drag-over {
    border: 2px dashed #919191;
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 10px;
}

.div-drag-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #ededed solid 1px;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.div-drag-delete {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #e8002a solid 2px;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #ededed;
  color: #e8002a;
  font-size: 24px;
}

.custom-id-drag-delete {
    border: 2px dashed #fbb6bb;
    background-color: #ffd0d4;
    padding: 10px;
    margin-bottom: 10px;
}

.custom-id-select {
  width: 30%;
}

.custom-id-input {
  width: 30%;
}

.field-table {
  table-layout: fixed;
  border-spacing: 10px;
}

.field-table th {
  vertical-align: middle;
  text-align: center; 
}

.field-table td {
  vertical-align: middle;
  text-align: center;
}

.table-flex-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home_inventory_row {
  cursor: pointer;
}

.home_inventory_row:hover {
  border: 2px solid black;
  border-radius: 10px;
  transform: scale(1.05);
}